#body {
    background-color: #37E2D5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#buttonsAndContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#buttons {
display: flex;
flex-direction: column;
}

#title {
    background-color: #590696;
    align-self: stretch;
    padding: 0px;
}

h1 {
font-family: 'Palanquin Dark', sans-serif;
padding: 15px;
font-size: 70px;
font-weight: bold;
color: #FBCB0A;
margin: 0px;
margin-block-start: 0em;
margin-block-end: 0em;
text-align: center;

}


#container {
    display: grid;
    background-color: whitesmoke;
    border: solid #C70A80 10px;
    border-radius: 20px;
    height: 550px;
    width: 550px;
    margin-left: 15px;
    /* height: calc(100vh - 85px);
    width: 100vw; */
    /* These units are vh (viewport height), vw (viewport width), vmin (viewport minimum length) and vmax (viewport maximum length). */
    /* grid-template: repeat(16, 1fr)/repeat(16, 1fr); */
}

.item {
    margin: 0px;
    border: none;
    /* border-color: blue;
    background-color:aquamarine ; */
}

.black {
    background-color: black;
}

button {
     margin: 15px;
    background-color: #C70A80;
    color: whitesmoke;
    font-size: 30px;
    border: solid #C70A80;
    border-radius: 10px;
    padding: 0 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#new {
    background-color: #590696;
    border: solid #590696;
}