#body {
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#buttonsAndContainer {
    display: flex;
    flex-direction: row;
}

#buttons {
display: flex;
flex-direction: column;
}

h1 {
font-family: 'Palanquin Dark', sans-serif;

}


#container {
    display: grid;
    background-color: whitesmoke;
    border: solid palevioletred 10px;
    border-radius: 20px;
    height: 550px;
    width: 550px;
    /* height: calc(100vh - 85px);
    width: 100vw; */
    /* These units are vh (viewport height), vw (viewport width), vmin (viewport minimum length) and vmax (viewport maximum length). */
    /* grid-template: repeat(16, 1fr)/repeat(16, 1fr); */
}

.item {
    margin: 0px;
    border: none;
    /* border-color: blue;
    background-color:aquamarine ; */
}

.black {
    background-color: black;
}

button {
     margin: 15px;
    background-color: red;
    color: whitesmoke;
    font-size: 30px;
    border: solid red;
    border-radius: 10px;
    box-shadow: 20px 20px 30px -17px rgba(121, 120, 132, 1);
    padding: 0 15px;
    font-family: 'Roboto', sans-serif;
}